#about_flower
{
  z-index: -100;
  /* background-attachment: fixed; */
  position: fixed;
  width: 40%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
  right: 0;
  bottom: 0;
}
