.time_pick
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

#dash_holder
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#datetwo
{
  display: none;
}

#to_spacer
{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 11px;
}
