.calendar_icons {
  vertical-align: sub;
  padding-right: 2px;
  padding-left: 0px;
  max-height: 16px;
  min-height: 16px;
}

.calendar_text
{
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  clear: both;
  min-height: 25%;
}

.footer_icon
{
  height: 1em,
}

.list_footer {
  height: 1em;
}

.entry_time {
  padding-right: 5px;
  font-weight: 500;
}

.entry_text {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: none;
  text-overflow: ellipsis;
}

.count_style {
  line-height: 1.5em;
}


@media only screen and (max-width: 768px) {
.calendar_text, .entry_time, .count_style
  {
    font-size: 12px;
  }
.calendar_icons
  {
    max-height: 12px;
    min-height: 12px;
  }
}

@media only screen and (max-width: 500px) {
.calendar_text, .entry_time, .count_style
  {
    font-size: 10px;
  }
.calendar_icons
  {
    max-height: 10px;
    min-height: 10px;
  }
}
